.top{
    margin-top:50px;
}

.p-text{
    font-size:20px;
}

.text{
    font-size:45px;
    text-align: center;
    margin-bottom:10px;
}

.row-border{
    border:2px solid black;
    border-radius: 25px;
}