html,
body,
#root {
  height: 100vh;
}
/* Background-color */
.main {
  background-color: #fff;
  font-family: Sriracha;
  padding-bottom: 200px;
}

.bodycontent {
  margin-top: 200px;
}
/* Background-color */
