html,
body,
#root {
  height: 100vh;
}
/* Background-color */
.main {
  background-color: #fff;
  font-family: Sriracha;
  padding-bottom: 200px;
}

.bodycontent {
  margin-top: 170px;
}
/* Background-color */

@media only screen and (max-width: 750px) {
  .bodycontent {
    margin-top: 250px;
  }
}

@media only screen and (max-width: 635px) {
  .bodycontent {
    margin-top: 320px;
  }
}