.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;

}

.navbar {
 
  top: 0;
  width: 100%;
  background-color: #9dbcbc;
}