.footer{
    background-color: rgb(0,0,0);
    color:white;
    border-top: 4px solid rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    font-family: Sriracha;
}
