/* Class Selectors  */
/* Main H1 */
.container {
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
    font-family: Sriracha;
    margin-bottom: 20px;
  }

  .form-margin{
    margin-right:5px;
  }
  
  .link {
    padding-left: 10px;
  }
  /* Styling the button to have margins-right */
  .sign-up-link {
    margin-left: 15px;
  }
  
  .sign-up-link:hover {
    box-shadow: 5px 5px 5px 5px rgb(255, 150, 29);
    cursor: pointer;
  }