/* Class Selectors  */
/* Main H1 */
.admin-container {
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 60px;
    text-align: center;
    font-family: Sriracha;
    margin-bottom: 20px;
  }

  