/* Class Selectors  */
/* Main H1 */
.header-1 {
  font-size: 35px;
  margin-bottom: 15px;
}
/* container */
.main-content {
  text-align: center;
}
/* Div abouve container */
.background {
  font-family: Sriracha;
}
/* Image Style */
.center {
  border-bottom: solid black 5px;
  border-radius: 25px;
  margin-bottom: 20px;
}
/* Given margin to both forms */
.form-style {
  margin-bottom: 20px;

}
.form-margin{
  margin-right:5px;
}

.link {
  padding-left: 10px;
}
/* Styling the button to have margins-right */
.sign-up-link {
  margin-left: 15px;
}

.sign-up-link:hover {
  box-shadow: 5px 5px 5px 5px rgb(255, 150, 29);
  cursor: pointer;
}
/* Size of jumbotron */
.size{
  height: 100vh;
  background-image: url("../../images/chipper/happydog.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 20px black solid;
  
}

.shadow-head{
 text-shadow: black 2px 2px;
}

#down-arrow{
  margin-top: auto;
  text-align:center ;
  margin-bottom: 50px;
  position: absolute;
  left: 500px;
  top: 150px;
}

/* .intro-p {
  font-size: 20px;
} */