.userInformation{
    margin-top:70px;
    background-color:rgb(255, 206, 73);
    font-family: Sriracha;
    padding-bottom:400px;
    
}
#center-h1{
    text-align: center;
    margin-bottom:10px;
}
.hr-row{
        border:2px solid black;
        border-radius: 25px;
}
.user{
    margin-bottom:10px;
}

.card-background{
    background-color: slategray;
}

